/* body {
    padding-top: 60px;
} */

h5 {
    font-weight: normal;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.dark-bg {
    background: #10284f;
    color: #ffffff;
}

.section-padding {
	padding:90px 0 100px
}

.services {
	margin-top:80px;
	margin-bottom:40px;
}
.services .icon {
	position:relative;
	width:175px;
	height:175px;
	margin:0 auto;
	text-align:center;
	line-height:180px;
	font-size:56px;
	color:#fff;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(0,0,0,0.0);
	margin-bottom:40px;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	border: 1px solid #10284f;
	color: #10284f;
}
.services .item:hover .icon {
	background: #10284f;
	border: 1px solid #10284f;
}
.services .item [class*=fa] {
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.services .item:hover [class*=fa] {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	color:#fff;
}

.social-btn {
	width:40px;
	height:40px;
	background: #10284f;
	display:inline-block;
	color:#fff;
	font-size:17px;
	line-height:40px;
	text-align:center;
}
.social-btn:hover,.social-btn:focus {
	background: #fff;
	color: #10284f;
}
.social {
	margin-top: 25px
}